---
import { Image } from "astro:assets";
import photo1 from "../assets/photo_1.png";
import photo2 from "../assets/photo_2.png";
import photo3 from "../assets/photo_3.png";
---

<div id="container">
  <div class="hero">
    <h1>Quality feedbacks for your SaaS products</h1>
    <p>The blocks & components you need</p>
  </div>
  <div class="content">
    <div class="card">
      <div class="deco one">✋</div>
      <h2>Collect Feedback at Multiple Touchpoints</h2>
      <p>Provide a comprehensive understanding of the customer experience.</p>
      <Image src={photo2} alt="Photo 1" />
    </div>
    <div class="card">
      <div class="deco two">🥅</div>
      <h2>Ask Targeted and Specific Questions</h2>
      <p>
        Avoid vague or open-ended questions that may not yield actionable
        insights.
      </p>
      <Image src={photo1} alt="Photo 2" />
    </div>
    <div class="card">
      <div class="deco three">💬</div>
      <h2>Prioritize and Respond to Feedback</h2>
      <p>
        Communicate the changes or improvements you've made in response to their
        feedback.
      </p>
      <Image src={photo3} alt="Photo 3" />
    </div>
  </div>
</div>

<style>
  #container {
    gap: 3em;
    display: flex;
    flex-direction: column;
  }
  .hero {
    display: flex;
    margin: 0 auto;
    margin-top:1em;
    max-width: 27em;
    text-align: center;
    flex-direction: column;
  }
  .content,
  .card {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
  }

  .content {
    gap: 2em;
  }
  .card {
    padding: 2em;
    max-width: 16em;
    border: transparent;
    border-radius: 16px;
    background-color: #212936;
    > img {
      border: transparent;
      border-radius: 12px;
    }
    > .deco {
      width: 40px;
      height: 40px;
      display: flex;
      text-align: center;
      border: transparent;
      border-radius: 100px;
      flex-direction: column;
      justify-content: center;
      &.one {
        background-color: #fceed8;
      }
      &.two {
        background-color: #dee9fc;
      }
      &.three {
        background-color: #fbe5e6;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    #container {
      margin-inline: 8em;
    }
    .content {
      justify-content: center;
      grid-template-columns: repeat(2, auto);
      > .card:last-child {
        grid-column: 1/-1;
        justify-self: center;
      }
    }
  }
  @media screen and (min-width: 1280px) {
    .content {
      grid-template-columns: repeat(3, auto);
      > .card:last-child {
        grid-column: auto;
      }
    }
  }
</style>
